/* MOBILE FIRST (default) */

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.Intro {
  background-color: #362f4f;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
}

.resume {
  background-color: #5b23ff;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.project {
  background-color: #008bff;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}

.project h2 {
  text-align: center;
}

.interest {
  background-color: #e4ff30;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.interest img {
  border-radius: 50%;
  border: 5px solid white;
}

.contact {
  background-color: #e4ff30;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

button {
  background-color: green;
  color: white;
}

@media (min-width: 768px) {
  .resume {
    grid-template-columns: 1fr 1fr;
  }

  .project {
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .Intro {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: left;
    height:50vh;
  }

  .Intro .Intro1 {
    grid-row: 2;
    grid-column: 2 / span 3;
  }

  .Intro .Intro2 {
    grid-row: 3;
    grid-column: 4;
  }

  .Intro .Intro3 {
    grid-row: 4;
    grid-column: 2 / 4;
    text-align: center;
  }
  .project h2 {
    grid-column: 1/-1;
  }
  .resume {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact{
    justify-content:center;
  }
}
